
@{
    ViewBag.Title = "Tạo mới HĐ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .select2-container .select2-selection--single {
        height: 34px !important;
    }

    .select2-container--default .select2-selection--single {
        border: 1px solid #ccc !important;
        border-radius: 0px !important;
    }
</style>


<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>Hợp đồng CNTT</h3>
            <span style="color:red">@ViewBag.baoloi</span>
        </div>
    </div>
    <div class="clearfix"></div>
    @using (Html.BeginForm("Create", "HDCNTT", FormMethod.Post, new { @enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-md-12">
                <div class="x_panel" style="">
                    <div class="x_title">
                        <h2>Thêm mới HĐ CNTT</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="control-label col-md-4">
                                        <label style="float: right">Dự án:</label>
                                    </div>
                                    <div class="container">
                                        <div class="col-md-5">
                                            @Html.DropDownList("DUAN_ID", (IEnumerable<SelectListItem>)ViewBag.DUAN, "--Chọn--", new { @class = "form-control select2", required = "required", @id = "selectDA" })
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="control-label col-md-4">
                                        <label style="float: right">Loại hợp đồng:</label>
                                    </div>
                                    <div class="col-md-5">
                                        @Html.DropDownList("LOAI_HOPDONG_ID", (IEnumerable<SelectListItem>)ViewBag.LOAIHD, "--Chọn--", new { @class = "form-control", required = "required" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6" style="margin-top: 15px">
                                <div class="form-group">
                                    <div class="control-label col-md-4">
                                        <label style="float: right">Năm hợp đồng:</label>
                                    </div>
                                    <div class="col-md-5">
                                        @Html.DropDownList("NAM_HD_ID", (IEnumerable<SelectListItem>)ViewBag.NamHD, "--Chọn--", new { @class = "form-control", required = "required" })

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" style="margin-top: 15px">
                                <div class="form-group">
                                    <div class="control-label col-md-4">
                                        <label style="float: right">Số hợp đồng:</label>
                                    </div>
                                    <div class="col-md-5">
                                        <input type="text" class="form-control" name="SO_HD" required="required" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6" style="margin-top: 15px">
                                <div class="form-group">
                                    <div class="control-label col-md-4">
                                        <label style="float: right">Tên hợp đồng:</label>
                                    </div>
                                    <div class="col-md-5">
                                        <input type="text" class="form-control" name="TEN_HOPDONG" required="required" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" style="margin-top: 15px">
                                <div class="form-group">
                                    <div class="control-label col-md-4">
                                        <label style="float: right">Tên gói thầu:</label>
                                    </div>
                                    <div class="col-md-5">
                                        <input type="text" class="form-control" name="TEN_GOITHAU" required="required" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6" style="margin-top: 15px">
                                <div class="form-group">
                                    <div class="control-label col-md-4">
                                        <label style="float: right">Tên dự án:</label>
                                    </div>
                                    <div class="col-md-5">
                                        <input type="text" class="form-control" name="TEN_DUAN" required="required" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" style="margin-top: 15px">
                                <div class="form-group">
                                    <div class="control-label col-md-4">
                                        <label style="float: right">Ngày lập hợp đồng:</label>
                                    </div>
                                    <div class="col-md-5">
                                        <input type="date" class="form-control" id="NGAY_HD" name="NGAY_HD" onchange="setDate()" required="required" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6" style="margin-top: 15px">
                                <div class="form-group">
                                    <div class="control-label col-md-4">
                                        <label style="float: right">Đơn vị lập hợp đồng:</label>
                                    </div>
                                    <div class="col-md-5">
                                        @Html.DropDownList("DONVI_ID", (IEnumerable<SelectListItem>)ViewBag.DONVI, "--Chọn--", new { @class = "form-control", required = "required" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    @* Bên thuê *@
                    <div class="col-md-6">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>Bên thuê</h2>
                                <div class="col-md-8" style="float:right">
                                    @Html.DropDownList("BEN_THUE_ID", (IEnumerable<SelectListItem>)ViewBag.BENTHUEID, new { @class = "form-control", @id = "BEN_THUE" })
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <div class="control-label col-md-4">
                                            <label style="float: right">Tên bên cho thuê:</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control" name="TEN_BT" required="required" id="TEN_BT" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="control-label col-md-4">
                                            <label style="float: right">Địa chỉ:</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control" name="DIACHI_BT" required="required" id="DIACHI_BT" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="control-label col-md-4">
                                            <label style="float: right">Số điện thoại/FAX:</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="number" class="form-control" name="DIENTHOAI_BT" id="DT_BT" required="required" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="control-label col-md-4">
                                            <label style="float: right">Mã số thuế:</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control" name="MSTHUE_BT" id="MSTHUE_BT" required="required" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="control-label col-md-4">
                                            <label style="float: right">Tài khoản:</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="text" id="TAIKHOAN_BT" class="form-control" name="TAIKHOAN_BT" required="required" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="control-label col-md-4">
                                            <label style="float: right">Ngân hàng:</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="text" id="NGANHANG_BT" class="form-control" name="NGANHANG_BT" required="required" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="control-label col-md-4">
                                            <label style="float: right">Đại diện:</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="text" id="DAIDIEN_BT" class="form-control" name="DAIDIEN_BT" required="required" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="control-label col-md-4">
                                            <label style="float: right">Chức vụ:</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="text" id="CHUCVU_BT" class="form-control" name="CHUCVU_BT" required="required" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    @* Bên cho thuê *@
                    <div class="col-md-6">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>Bên cho thuê</h2>
                                <div class="col-md-8" style="float:right">
                                    @Html.DropDownList("BEN_CHOTHUE_ID", (IEnumerable<SelectListItem>)ViewBag.BENTHUEID, new { @class = "form-control", @id = "BEN_CHOTHUE" })
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <div class="control-label col-md-4">
                                            <label style="float: right">Tên bên cho thuê:</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control" name="TEN_CT" required="required" id="TEN_CT" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="control-label col-md-4">
                                            <label style="float: right">Địa chỉ:</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control" name="DIACHI_CT" required="required" id="DIACHI_CT" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="control-label col-md-4">
                                            <label style="float: right">Số điện thoại/FAX:</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="number" class="form-control" name="DIENTHOAI_CT" id="DT_CT" required="required" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="control-label col-md-4">
                                            <label style="float: right">Mã số thuế:</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control" name="MSTHUE_CT" id="MSTHUE_CT" required="required" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="control-label col-md-4">
                                            <label style="float: right">Tài khoản:</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="text" id="TAIKHOAN_CT" class="form-control" name="TAIKHOAN_CT" required="required" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="control-label col-md-4">
                                            <label style="float: right">Ngân hàng:</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="text" id="NGANHANG_CT" class="form-control" name="NGANHANG_CT" required="required" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="control-label col-md-4">
                                            <label style="float: right">Đại diện:</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="text" id="DAIDIEN_CT" class="form-control" name="DAIDIEN_CT" required="required" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="control-label col-md-4">
                                            <label style="float: right">Chức vụ:</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="text" id="CHUCVU_CT" class="form-control" name="CHUCVU_CT" required="required" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            @* Giá trị hợp đồng *@
            <div class="col-md-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Giá trị hợp đồng</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="control-label col-md-4">
                                        <label style="float: right">Giá trị phần cứng:</label>
                                    </div>
                                    <div class="col-md-8">
                                        <input type="number" id="GIATRI_PHANCUNG_HD" class="form-control" name="GIATRI_PHANCUNG_HD" required />
                                        <input class="form-control" type="text" id="giatri_phancung_hd" onchange="sum_tong3();" placeholder="VNĐ" required />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="control-label col-md-3">
                                        <label style="float: right">Chu kỳ TT:</label>
                                    </div>
                                    <div class="col-md-3">
                                        @Html.DropDownList("CHUKY_ID", (IEnumerable<SelectListItem>)ViewBag.CHUKYTT, "--Chọn chu kỳ TT--", new { @class = "form-control", required = "required", @id = "CHUKY_ID" })
                                    </div>
                                    <div class="control-label col-md-3">
                                        <label style="float: right">Thời gian TT:</label>
                                    </div>
                                    <div class="col-md-3">
                                        @Html.DropDownList("THOIHAN_TT_ID", (IEnumerable<SelectListItem>)ViewBag.THOIHAN_TT, "--Chọn--", new { @class = "form-control", required = "required", @id = "THOIHAN_TT_ID" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6" style="margin-top: 15px">
                                <div class="form-group">
                                    <div class="control-label col-md-4">
                                        <label style="float: right">Giá trị dịch vụ:</label>
                                    </div>
                                    <div class="col-md-8">
                                        <input type="number" id="GIATRI_DICHVU_HD" class="form-control" name="GIATRI_DICHVU_HD" required />
                                        <input class="form-control" type="text" id="giatri_dichvu_hd" onchange="sum_tong3();" placeholder="VNĐ" required />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" style="margin-top: 15px">
                                <div class="form-group">
                                    <div class="control-label col-md-3">
                                        <label style="float: right">Ngày hiệu lực HĐ:</label>
                                    </div>
                                    <div class="col-md-3">
                                        <input type="date" class="form-control" id="NGAY_HIEULUC_HD" name="NGAY_HIEULUC_HD" />
                                    </div>
                                    <div class="control-label col-md-3">
                                        <label style="float: right">Thời gian thuê:</label>
                                    </div>
                                    <div class="col-md-3">
                                        <input type="number" class="form-control" name="THANG" required />
                                    </div>
                                    @*<div class="control-label col-md-3">
                                            <label style="float: right">Ngày BBNT:</label>
                                        </div>
                                        <div class="col-md-3">
                                            <input type="date" class="form-control" name="NGAY_BBNT" />
                                        </div>*@
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6" style="margin-top: 15px">
                                <div class="form-group">
                                    <div class="control-label col-md-4">
                                        <label style="float: right">Giá trị tạm ứng:</label>
                                    </div>
                                    <div class="col-md-8">
                                        <input type="number" id="GIATRI_TAMUNG" class="form-control" name="GIATRI_TAMUNG" />
                                        <input class="form-control" type="text" id="giatri_tamung" placeholder="VNĐ" />

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" style="margin-top: 15px">
                                <div class="form-group">
                                    <div class="control-label col-md-3">
                                        <label style="float: right">Ngày BBNT:</label>
                                    </div>
                                    <div class="col-md-3">
                                        <input type="date" class="form-control" name="NGAY_BBNT" />
                                    </div>

                                    <div class="control-label col-md-3">
                                        <label style="float: right">Giá trị BLTHHD:</label>
                                    </div>
                                    <div class="col-md-3">
                                        <input type="number" id="GIATRI_BLTHHD" class="form-control" name="GIATRI_BLTHHD" />
                                    </div>

                                    @*<div class="control-label col-md-3">
                                            <label style="float: right">Thời gian BLTHHD:</label>
                                        </div>
                                        <div class="col-md-3">
                                            <input type="number" id="THOIGIAN_BLTHHD" onchange="sum_date()" class="form-control" name="THOIGIAN_BLTHHD" value="0" />
                                        </div>*@
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6" style="margin-top: 15px">
                                <div class="form-group">
                                    <div class="control-label col-md-4">
                                        <label style="float: right">Hình thức thanh toán:</label>
                                    </div>
                                    <div class="col-md-8">
                                        @Html.DropDownList("HTTT_ID", (IEnumerable<SelectListItem>)ViewBag.HINHTHUCTT, "--Chọn HTTT--", new { @class = "form-control", required = "required", @id = "HTTT_ID" })
                                        @*@Html.DropDownList("THUE_BT", (IEnumerable<SelectListItem>)ViewBag.BENTHUEID,"--Chọn bên thuê--", new { @class = "form-control", required = "required", @id = "THUE_BT" })*@
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" style="margin-top: 15px">
                                <div class="form-group">
                                    <div class="control-label col-md-3">
                                        <label style="float: right">Thời gian BLTHHD:</label>
                                    </div>
                                    <div class="col-md-3">
                                        <input type="number" id="THOIGIAN_BLTHHD" onchange="sum_date()" class="form-control" name="THOIGIAN_BLTHHD" value="0" />
                                    </div>

                                    <div class="control-label col-md-3">
                                        <label style="float: right">Ngày BLTHHĐ:</label>
                                    </div>
                                    <div class="col-md-3">
                                        <input type="date" id="NGAY_BLTHHD" class="form-control" onchange="sum_date()" name="NGAY_BLTHHD" />
                                    </div>

                                    @*<div class="control-label col-md-3">
                                            <label style="float: right">Ngày hết hạn BLTHHĐ:</label>
                                        </div>
                                        <div class="col-md-3">
                                            <input type="date" id="NGAY_HETHAN_BLTHHD" class="form-control" name="NGAY_HETHAN_BLTHHD" readonly />
                                        </div>*@
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6" style="margin-top: 15px">
                                <div class="form-group">
                                    <div class="control-label col-md-4">
                                        <label style="float: right">Tổng giá trị hợp đồng:</label>
                                    </div>
                                    <div class="col-md-8">
                                        <input type="number" id="TONG_GT" class="form-control" name="TONG_GT" />
                                        <input class="form-control" type="text" id="tong_gt" placeholder="VNĐ" readonly />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" style="margin-top: 15px">

                                <div class="control-label col-md-3">
                                    <label style="float: right">Ngày hết hạn BLTHHĐ:</label>
                                </div>
                                <div class="col-md-3">
                                    <input type="date" id="NGAY_HETHAN_BLTHHD" class="form-control" name="NGAY_HETHAN_BLTHHD" readonly />
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Ghi chú</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <textarea class="form-control" name="GHICHU" rows="4" placeholder="Ghi chú"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="control-label col-md-1">
                                <label style="float: right">File hợp đồng:</label>
                            </div>
                            <div class="col-md-10">
                                <input type="file" class="form-control" id="upload" name="upload" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="text-align: center;">
                <input type="submit" class="btn btn-success btn-lg" value="Lưu" id="submit" />
                <a href="@Url.Action("Index", "HDCNTT")" class="btn btn-default btn-lg">
                    Trờ về
                </a>
            </div>
        </div>
    }
</div>

@Scripts.Render("~/Scripts/numeric/jquery.js")
@Scripts.Render("~/Scripts/numeric/jquery.number.js")
<script type="text/javascript">
    //function sum_tong() {
    //    //alert("tesst");
    //    var tong1 = 0;
    //    var thang1 = $('#thang').val();
    //    var vat1 = $('#vat1').val();
    //    var vat = (vat1 * thang1) / 100;
    //    tong1 = parseFloat(thang1) + parseFloat(vat);
    //    $("input[name='thang_gt']").val(tong1);
    //    //alert(tong1);
    //    sum_tong2();
    //}

    @*function sum_tong2() {
        var bd = new Date($('#ngay_bd').val().toString('dd/MM/yyyy'));
        var kt = new Date($('#ngay_kt').val().toString('dd/MM/yyyy'));
        var sogiay = Math.abs(kt - bd);
        var sothang = Math.round(sogiay / (86400000 * 30));
        var tien = $('#thang_gt').val();

        var chuky = $('#CHUKY_ID').val();
        $.ajax({
            type: 'GET',
            url: '@Url.Action("getChuKyTT","HDCNTT")',
            data: { chuky: chuky },
            success: function (data) {
                var sochuky = Math.round(sothang / data.thang);
                var tong = tien * sochuky * data.thang;
                $('#SO_CHUKY').val(sochuky);
                $('#tong_gt').val(tong);
            }
        });
    }*@

    function sum_tong3() {
        var tong1 = 0;
        var giatri_phancung_hd = $('#giatri_phancung_hd').val();
        var giatri_dichvu_hd = $('#giatri_dichvu_hd').val();

        tong1 = parseFloat(giatri_phancung_hd) + parseFloat(giatri_dichvu_hd);
        $('#tong_gt').val(tong1);
    }

    function sum_date() {
        var date = new Date($('#NGAY_BLTHHD').val());
        var days = parseInt($('#THOIGIAN_BLTHHD').val());

        date.setDate(date.getDate() + days);
        //var ngayhethan = date.getFullYear() + '-' + ('0' + (date.getMonth() + 1)).slice(-2) + '-' + ('0' + date.getDate()).slice(-2);
        //$('#NGAY_HETHAN_BLTHHD').val(ngayhethan);
        document.getElementById('NGAY_HETHAN_BLTHHD').value = date.getFullYear() + '-' + ('0' + (date.getMonth() + 1)).slice(-2) + '-' + ('0' + date.getDate()).slice(-2);
    }
    function setDate() {
        var date = new Date($('#NGAY_HD').val());
        date.setDate(date.getDate() + 1);
        document.getElementById('NGAY_BLTHHD').value = date.getFullYear() + '-' + ('0' + (date.getMonth() + 1)).slice(-2) + '-' + ('0' + date.getDate()).slice(-2);
        document.getElementById('NGAY_HIEULUC_HD').value = date.getFullYear() + '-' + ('0' + (date.getMonth() + 1)).slice(-2) + '-' + ('0' + date.getDate()).slice(-2);
        sum_date();
    }

</script>
<script type="text/javascript">
    $(function () {
        // Set up the number formatting.
        $('#THANG').hide();
        $('#THANG_GT').hide();
        $('#GIATRI_TAMUNG').hide();
        $('#GIATRI_PHANCUNG_HD').hide();
        $('#GIATRI_DICHVU_HD').hide();
        $('#TONG_GT').hide();

        $('#thang_gt').number(true, 0);
        $('#tong_gt').number(true, 0);

        $('#submit').on('click', function () {
            var giatri_phancung_hd = $('#giatri_phancung_hd').val();
            var giatri_dichvu_hd = $('#giatri_dichvu_hd').val();
            var giatri_tamung = $('#giatri_tamung').val();
            $("input[name='GIATRI_PHANCUNG_HD']").val(giatri_phancung_hd);
            $("input[name='GIATRI_DICHVU_HD']").val(giatri_dichvu_hd);
            $("input[name='GIATRI_TAMUNG']").val(giatri_tamung);
        });


    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#BEN_CHOTHUE').change(function () {
            var id = $('#BEN_CHOTHUE').val();
            $.ajax({
                type: 'GET',
                url: '@Url.Action("getBT","HDCNTT")',
                data: { id: id },
                success: function (data) {
                    $('#TEN_CT').val(data.ten);
                    $('#DIACHI_CT').val(data.diachi);
                    $('#DT_CT').val(data.dienthoai);
                    $('#MSTHUE_CT').val(data.msthue);
                    $('#TAIKHOAN_CT').val(data.taikhoan);
                    $('#NGANHANG_CT').val(data.nganhang);
                    $('#DAIDIEN_CT').val(data.daidien);
                    $('#CHUCVU_CT').val(data.chucvu);
                }
            });
            if (id == 0) {
                $('#TEN_CT').val("");
                $('#DIACHI_CT').val("");
                $('#DT_CT').val("");
                $('#MSTHUE_CT').val("");
                $('#TAIKHOAN_CT').val("");
                $('#NGANHANG_CT').val("");
                $('#DAIDIEN_CT').val("");
                $('#CHUCVU_CT').val("");
            }
        });
        $('#BEN_THUE').change(function () {
            var id = $('#BEN_THUE').val();
            $.ajax({
                type: 'GET',
                url: '@Url.Action("getBT","HDCNTT")',
                data: { id: id },
                success: function (data) {
                    $('#TEN_BT').val(data.ten);
                    $('#DIACHI_BT').val(data.diachi);
                    $('#DT_BT').val(data.dienthoai);
                    $('#MSTHUE_BT').val(data.msthue);
                    $('#TAIKHOAN_BT').val(data.taikhoan);
                    $('#NGANHANG_BT').val(data.nganhang);
                    $('#DAIDIEN_BT').val(data.daidien);
                    $('#CHUCVU_BT').val(data.chucvu);
                }
            });
            if (id == 0) {
                $('#TEN_BT').val("");
                $('#DIACHI_BT').val("");
                $('#DT_BT').val("");
                $('#MSTHUE_BT').val("");
                $('#TAIKHOAN_BT').val("");
                $('#NGANHANG_BT').val("");
                $('#DAIDIEN_BT').val("");
                $('#CHUCVU_BT').val("");
            }
        });
        $('.select2').select2();
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#BEN_CHOTHUE").append('<option value="0" selected>--Chọn bên thuê--</option>');
    });
    $(document).ready(function () {
        $("#BEN_THUE").append('<option value="0" selected>--Chọn bên thuê--</option>');
    });
</script>
