@model IList<QLHD.Models.DM_KHOITAO_TIENDO_DA>
    @{
        ViewBag.Title = "CreateDuAn";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    @{
        var lst = Model.ToList();
    }
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Hợp đồng CNTT</h3>
                <span style="color:red">@ViewBag.baoloi</span>
            </div>
        </div>
        <div class="clearfix"></div>
        @using (Html.BeginForm("CreateDuAnPost", "HDCNTT", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="row">
                <div class="col-md-12">
                    <div class="x_panel" style="">
                        <div class="x_title">
                            <h2>Thêm mới dự án CNTT</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="col-md-12" style="margin-top: 15px">
                                <div class="form-group">
                                    <div class="control-label col-md-5">
                                        <label style="float: right">Tên dự án:</label>
                                    </div>
                                    <div class="col-md-3">
                                        <input type="text" class="form-control" name="TEN_DA" required="required">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12" style="margin-top: 15px">
                                <div class="form-group">
                                    <div class="control-label col-md-5">
                                        <label style="float: right">Chủ đầu tư:</label>
                                    </div>
                                    <div class="col-md-3">
                                        <input type="text" class="form-control" name="CHUDAUTU" required="required" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12" style="margin-top: 15px">
                                <div class="form-group">
                                    <div class="control-label col-md-5">
                                        <label style="float: right">Loại dự án:</label>
                                    </div>
                                    <div class="col-md-3">
                                        @Html.DropDownList("LOAI_DA", (IEnumerable<SelectListItem>)ViewBag.LOAIDA, "--Chọn--", new { @class = "form-control", required = "required" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12" style="margin-top: 15px">
                                <div class="form-group">
                                    <div class="control-label col-md-5">
                                        <label style="float: right">Loại hợp đồng:</label>
                                    </div>
                                    <div class="col-md-3">
                                        @Html.DropDownList("LOAI_HOPDONG_ID", (IEnumerable<SelectListItem>)ViewBag.LOAIHD, "--Chọn--", new { @class = "form-control", required = "required" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12" style="margin-top: 15px">
                                <div class="form-group">
                                    <div class="control-label col-md-5">
                                        <label style="float: right">Doanh thu dự kiến:</label>
                                    </div>
                                    <div class="col-md-3">
                                        <input type="text" class="form-control" name="DOANHTHU_DUKIEN" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12" style="margin-top: 15px">
                                <div class="form-group">
                                    <div class="control-label col-md-5">
                                        <label style="float: right">Ngày bắt đầu:</label>
                                    </div>
                                    <div class="col-md-3">
                                        <input type="date" class="form-control" id="NGAY_START_DA" name="NGAY_START_DA" required="required" />
                                    </div>
                                    <div class="col-md-1">
                                        <input type="button" class="btn btn-primary" value="Tạo tiến độ" id="generate" onclick="genTD()" />
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div style="text-align: center;">
                    <input type="submit" class="btn btn-success btn-lg" value="Lưu" id="submit" />
                    <a href="@Url.Action("DSDuAn", "HDCNTT")" class="btn btn-default btn-lg">
                        Trờ về
                    </a>
                </div>
            </div>


            @* Danh sách tiến độ Dự án *@
            <div class="row">
                <div class="col-md-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <div class="col-md-12">
                                <h2 class="col-md-3" style="float: left">Danh sách tiến độ dự án</h2>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="" role="tabpanel" data-example-id="togglable-tabs">
                                <div id="myTabContent" class="tab-content">
                                    <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="hopdong-tab">
                                        <table id="tableTDDA" class=" col-md-12 table table-bordered table-striped table-hover">
                                            <tr class="noidung">
                                                <th class="col-md-1" style="text-align:center">
                                                    STT
                                                </th>
                                                <th class="col-md-4" style="text-align:center">
                                                    Tên tiến độ
                                                </th>
                                                <th class="col-md-1" style="text-align:center">
                                                    Đơn vị chủ trì
                                                </th>
                                                <th class="col-md-1" style="text-align:center">
                                                    Người thực hiện
                                                </th>
                                                <th class="col-md-1" style="text-align:center">
                                                    Ngày bắt đầu
                                                </th>
                                                <th class="col-md-1" style="text-align:center">
                                                    Ngày hết hạn
                                                </th>
                                                <th class="col-md-1" style="text-align:center; display:none">
                                                    Trạng thái thực hiện
                                                </th>
                                                <th class="col-md-1" style="text-align: center; display: none">
                                                    VTT
                                                </th>
                                                <th class="col-md-1" style="text-align: center; display: none ">
                                                    Số ngày thực hiện
                                                </th>
                                                @*<th class="col-md-2" style="text-align:center">Sửa|Xóa</th>*@
                                            </tr>
                                            @for (var i = 0; i < Model.Count(); i++)
                                            {
                                                <tr class="noidunghd">
                                                    <td class="col-md-1" style="text-align:center">
                                                        @Html.TextBoxFor(x => Model[i].STT, new { @Value = Model[i].STT, @style = "display:none" })
                                                        @Html.DisplayFor(x => Model[i].STT)
                                                    </td>
                                                    <td class="col-md-4" style="text-align:center">
                                                        @Html.TextBoxFor(x => Model[i].TEN_TIENDO_DA, new { @Value = Model[i].TEN_TIENDO_DA, @style = "display:none" })
                                                        @Html.DisplayFor(x => Model[i].TEN_TIENDO_DA)
                                                    </td>
                                                    <td class="col-md-1" style="text-align:center">
                                                        @Html.TextBoxFor(x => Model[i].DONVI_CHUTRI, new { @Value = Model[i].DONVI_CHUTRI, @style = "display:none" })
                                                        @Html.DisplayFor(x => Model[i].DONVI.TEN_DV)
                                                    </td>
                                                    <td class="col-md-1" style="text-align:center">
                                                        @Html.TextBoxFor(x => Model[i].NGUOI_THUCHIEN, new { @Value = Model[i].NGUOI_THUCHIEN, @style = "display:none" })
                                                        @Html.DisplayFor(x => Model[i].THANHVIEN.TEN_THANHVIEN)
                                                    </td>
                                                    <td class="col-md-1" style="text-align:center">
                                                        @Html.TextBoxFor(x => Model[i].NGAY_GIAO, new { @class = "form-control", @type = "datetime", @Value = Model[i].NGAY_GIAO.ToString("dd/MM/yyyy"), @id = "NGAY_GIAO" + Model[i].TIENDO_DA_ID })
                                                    </td>
                                                    <td>
                                                        @Html.TextBoxFor(x => Model[i].NGAY_HETHAN, new { @class = "form-control", @type = "datetime", @Value = Model[i].NGAY_HETHAN.ToString("dd/MM/yyyy"), @id = "NGAY_HETHAN" + Model[i].TIENDO_DA_ID })
                                                    </td>
                                                    <td class="col-md-1" style="text-align:center; display:none">
                                                        @Html.TextBoxFor(x => Model[i].TRANGTHAI_THUCHIEN, new { @Value = Model[i].TRANGTHAI_THUCHIEN, @style = "display:none" })

                                                    </td>
                                                    <td class="col-md-1" style="text-align: center; display: none">
                                                        @Html.TextBoxFor(x => Model[i].VTT, new { @Value = Model[i].VTT, @style = "display:none" })

                                                    </td>
                                                    <td class="col-md-1" style="text-align: center; display:none">
                                                        @Html.TextBoxFor(x => Model[i].SONGAY_THUCHIEN, new { @Value = Model[i].SONGAY_THUCHIEN, @style = "display:none", @id = "SONGAY" + Model[i].TIENDO_DA_ID })

                                                    </td>
                                                </tr>
                                            }
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>

    <script type="text/javascript">
        function genTD() {
            var array = @Html.Raw(Json.Encode(@ViewBag.DS_NGAY_TD));
            var date = new Date($('#NGAY_START_DA').val());
            if (!Date.parse(date)) {
                date = new Date;
            }
            for (var i = 0; i < array.length; i++) {
                document.getElementById('NGAY_GIAO' + array[i].TIENDO_DA_ID).value = ('0' + date.getDate()).slice(-2) + '/' + ('0' + (date.getMonth() + 1)).slice(-2) + '/' + date.getFullYear();
                date.setDate(date.getDate() + array[i].SONGAY_THUCHIEN);
                document.getElementById('NGAY_HETHAN' + array[i].TIENDO_DA_ID).value = ('0' + date.getDate()).slice(-2) + '/' + ('0' + (date.getMonth() + 1)).slice(-2) + '/' + date.getFullYear();
                date.setDate(date.getDate() + 1);
            }

        }
    </script>
