@using PagedList;
@using PagedList.Mvc;
@model IPagedList<QLHD.Models.QLDA_CNTT>
    @{
        ViewBag.Title = "DSDuAn";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    @section partial_script {
        <link href="~/Content/css/HDCNTT/duancntt.css" rel="stylesheet" />
    }

    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Dự án CNTT</h3>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="">
                    @using (Html.BeginForm("KetQuaTimKiemDA", "HDCNTT", FormMethod.Post))
                    {
                        @Html.Action("partialSearchDA", "HDCNTT")
                    }
                </div>

                <div class="x_panel">
                    <div class="x_title">
                        <h2>Danh sách dự án CNTT</h2>

                        <div class="nav navbar-right">
                            <a href="@Url.Action("CreateDuAn", "HDCNTT")" class="btn btn-info btn-lg" style="float:right">
                                Thêm dự án
                                <span class="glyphicon glyphicon-plus" />
                            </a>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <div class="x_content">
                        <div class="" role="tabpanel" data-example-id="togglable-tabs">
                            <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                                <li role="presentation" class="active">
                                    <a href="#tab_content1" id="hopdong-tab" role="tab" data-toggle="tab" aria-expanded="true">DS dự án</a>
                                </li>
                            </ul>
                            <div id="myTabContent" class="tab-content">
                                <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="hopdong-tab">
                                    <table class="table table-bordered table-striped table-hover">
                                        <tr class="noidung">
                                            <th>STT</th>
                                            <th>
                                                Tên dự án
                                            </th>
                                            <th>
                                                Chủ đầu tư
                                            </th>
                                            <th>
                                                Loại dự án
                                            </th>
                                            <th>
                                                Loại hợp đồng
                                            </th>
                                            <th>
                                                Doanh thu dự kiến
                                            </th>
                                            <th>
                                                Ngày bắt đầu
                                            </th>
                                            <th>
                                                Tiến độ dự án
                                            </th>
                                            <th>
                                                Ghi chú tồn động
                                            </th>
                                            <th>Sửa</th>
                                            <th>Xóa</th>
                                            <th>Ngày hết hạn TĐ</th>
                                        </tr>
                                        @{int row = (@Model.PageNumber * 10) - 10;}
                                        @foreach (var item in Model)
                                        {
                                            <tr class="noidunghd">
                                                <td class="@(item.TRANGTHAI_DA == 3 ? "hoanthanh" : "") ">
                                                    @(row += 1)
                                                </td>
                                                <td class="@(item.TRANGTHAI_DA == 3 ? "hoanthanh" : "") ">
                                                    <a href="@Url.Action("ShowQuyTrinhDA", new { @maDA = item.DUAN_ID })">
                                                        @item.TEN_DA
                                                    </a>
                                                </td>
                                                <td class="@(item.TRANGTHAI_DA == 3 ? "hoanthanh" : "") ">
                                                    <a href="@Url.Action("ShowQuyTrinhDA", new { @maDA = item.DUAN_ID })">
                                                        @item.CHUDAUTU
                                                    </a>
                                                </td>
                                                <td class="@(item.TRANGTHAI_DA == 3 ? "hoanthanh" : "") ">
                                                    <a href="@Url.Action("ShowQuyTrinhDA", new { @maDA = item.DUAN_ID })">
                                                        @if (item.LOAI_DA == 1)
                                                        {
                                                            <p>Phần mềm</p>
                                                        }
                                                        else if (item.LOAI_DA == 2)
                                                        {
                                                            <p>Đường truyền</p>
                                                        }
                                                        else if (item.LOAI_DA == 3)
                                                        {
                                                            <p>Thiết bị</p>
                                                        }
                                                        else if (item.LOAI_DA == 4)
                                                        {
                                                            <p>Hỗn hợp</p>
                                                        }
                                                    </a>
                                                </td>
                                                <td class="@(item.TRANGTHAI_DA == 3 ? "hoanthanh" : "") ">
                                                    <a href="@Url.Action("ShowQuyTrinhDA", new { @maDA = item.DUAN_ID })">
                                                        @if (item.LOAI_HOPDONG_ID == 1)
                                                        {
                                                            <p>Thuê</p>
                                                        }
                                                        else if (item.LOAI_HOPDONG_ID == 2)
                                                        {
                                                            <p>Bán</p>
                                                        }
                                                        else if (item.LOAI_HOPDONG_ID == 3)
                                                        {
                                                            <p>Thuê và bán</p>
                                                        }
                                                    </a>
                                                </td>
                                                <td>
                                                    <a href="@Url.Action("ShowQuyTrinhDA", new { @maDA = item.DUAN_ID })">
                                                        @*@item.DOANHTHU_DUKIEN*@
                                                    </a>
                                                </td>
                                                <td class="@(item.TRANGTHAI_DA == 3 ? "hoanthanh" : "") ">
                                                    <a href="@Url.Action("ShowQuyTrinhDA", new { @maDA = item.DUAN_ID })">
                                                        @if (item.NGAY_START_DA.HasValue)
                                                        {
                                                            <p>@item.NGAY_START_DA.Value.ToString("dd/MM/yyyy")</p>
                                                        }

                                                    </a>
                                                </td>
                                                <td class="@(item.TRANGTHAI_DA == 3 ? "hoanthanh" : "") ">
                                                    <a>
                                                        @{
                                                            var td = item.QLDA_CNTT_TIENDO.OrderByDescending(k => k.STT).FirstOrDefault(m => m.TRANGTHAI_THUCHIEN == 3);
                                                            if (td != null && item.QLDA_CNTT_TIENDO.Count != 0)
                                                            {
                                                                @*  1. chưa thực hiện
                                                                    2. đang thực hiện
                                                                    3. Hoàn thành
                                                                    4. trễ hạn
                                                                *@
                                                                var TienDo = item.QLDA_CNTT_TIENDO.OrderBy(l => l.STT).FirstOrDefault(n => n.TRANGTHAI_THUCHIEN != 3 && n.STT > (td.STT));
                                                                if (TienDo != null)
                                                                {
                                                                    // NGAY_GIAO là ngày thực hiện thực tế
                                                                    if (TienDo.NGAY_GIAO > TienDo.NGAY_HETHAN)
                                                                    {
                                                                        <p style="color: red">@TienDo.TEN_TIENDO_DA (trễ hạn)</p>
                                                                    }
                                                                    else
                                                                    {
                                                                        <p>@TienDo.TEN_TIENDO_DA</p>
                                                                    }
                                                                }

                                                            }
                                                        }
                                                    </a>
                                                </td>
                                                <td class="@(item.TRANGTHAI_DA == 3 ? "hoanthanh" : "") ">
                                                    <a>
                                                        @{
                                                            var td1 = item.QLDA_CNTT_TIENDO.OrderByDescending(k => k.STT).FirstOrDefault(m => m.TRANGTHAI_THUCHIEN == 3);
                                                            if (td1 != null && item.QLDA_CNTT_TIENDO.Count != 0)
                                                            {
                                                                var TienDo1 = item.QLDA_CNTT_TIENDO.OrderBy(l => l.STT).FirstOrDefault(n => n.TRANGTHAI_THUCHIEN != 3 && n.STT > (td1.STT));
                                                                if (TienDo1 != null)
                                                                {
                                                                    // NGAY_GIAO là ngày thực hiện thực tế
                                                                    <p>@TienDo1.GHICHU_TONDONG</p>
                                                                }
                                                            }
                                                        }
                                                    </a>
                                                </td>
                                                <td class="@(item.TRANGTHAI_DA == 3 ? "hoanthanh" : "") ">
                                                    @Html.ActionLink(" ", "EditDA", new { @maDA = item.DUAN_ID }, new { @class = "glyphicon glyphicon-edit", @style = "font-size: 20px" })
                                                </td>
                                                <td class="@(item.TRANGTHAI_DA == 3 ? "hoanthanh" : "") ">
                                                    @Html.Action("PartiaDeleteDA", new { @maDA = item.DUAN_ID })
                                                </td>
                                                <td class="@(item.TRANGTHAI_DA == 3 ? "hoanthanh" : "") " style="text-align:center">
                                                    <a href="@Url.Action("ShowQuyTrinhDA", new { @maDA = item.DUAN_ID })">
                                                        @if (item.QLDA_CNTT_TIENDO.Count != 0)
                                                        {
                                                            var temp = item.QLDA_CNTT_TIENDO.FirstOrDefault(x => x.TRANGTHAI_THUCHIEN != 3);
                                                            if (temp != null)
                                                            {
                                                                //Lấy obj chưa xuất hóa đơn mới nhất
                                                                var TH_TT_VALUE = temp.NGAY_HETHAN.Value;
                                                                var TH_TT = TH_TT_VALUE.ToString("dd/MM/yyyy");

                                                                if (TH_TT_VALUE.Subtract(@DateTime.Today).Days < 7)
                                                                {
                                                                    <p style="color:red;">@TH_TT (@TH_TT_VALUE.Subtract(@DateTime.Today).Days ngày nữa)</p>
                                                                    <img src='~/Images/warning_icon.png' id='warning_icon' />
                                                                }
                                                                else
                                                                {
                                                                    <p>@TH_TT</p>
                                                                }
                                                            }
                                                        }
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    </table>
                                    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/ @Model.PageCount
                                    <div class="MenuTrang">
                                        @Html.PagedListPager(Model, page => Url.Action("DSDuAn", new { page = page, @sTuKhoa = ViewBag.TuKhoa }))
                                    </div>
                                    <style>
                                        .MenuTrang li {
                                            display: inline;
                                        }
                                    </style>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

