@using PagedList;
@using PagedList.Mvc;
@model IPagedList<QLHD.Models.QLDA_CNTT>
    @{
        ViewBag.Title = "DSDuAn";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Quản lý hợp đồng CNTT</h3>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="nav navbar-left">
                    @using (Html.BeginForm("KetQuaTimKiem", "HDCNTT", FormMethod.Post))
                    {
                        // Hiệp: Tại sao lại phải gọi search ở HDChiPhi
                        //@Html.Action("partialSearch", "HDCNTT")
                    }
                </div>
                @*<div class="nav navbar-right">
                        <a href="@Url.Action("Create", "HDCNTT")" class="btn btn-info btn-lg" style="float:right">
                            Thêm HĐ mới
                            <span class="glyphicon glyphicon-plus" />
                        </a>
                    </div>*@
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Danh sách HĐ CNTT</h2>
                        <div class="clearfix"></div>
                    </div>

                    <div class="x_content">
                        <div class="" role="tabpanel" data-example-id="togglable-tabs">
                            <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                                <li role="presentation" class="active">
                                    <a href="#tab_content1" id="hopdong-tab" role="tab" data-toggle="tab" aria-expanded="true">DS dự án</a>
                                </li>
                            </ul>
                            <div id="myTabContent" class="tab-content">
                                <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="hopdong-tab">
                                    <table class="table table-bordered table-striped table-hover">
                                        <tr class="noidung">
                                            <th>STT</th>
                                            <th>
                                                Tên dự án
                                            </th>
                                            <th>
                                                Chủ đầu tư
                                            </th>
                                            <th>
                                                Loại dự án
                                            </th>
                                            <th>
                                                Loại hợp đồng
                                            </th>
                                            <th>Sửa</th>
                                            <th>Xóa</th>
                                            <th>File DA</th>
                                        </tr>
                                        @{int row = (@Model.PageNumber * 10) - 10;}
                                        @foreach (var item in Model)
                                        {
                                            <tr class="noidunghd">
                                                <td>@(row+=1)</td>
                                                <td>
                                                    <a href="@Url.Action("ShowQuyTrinhDA", new { @maDA = item.DUAN_ID })">
                                                        @item.TEN_DA
                                                    </a>
                                                </td>
                                                <td>
                                                    <a href="@Url.Action("ShowQuyTrinhDA", new { @maDA = item.DUAN_ID })">
                                                        @item.CHUDAUTU
                                                    </a>
                                                </td>
                                                <td>
                                                    <a href="@Url.Action("ShowQuyTrinhDA", new { @maDA = item.DUAN_ID })">
                                                        @if (item.LOAI_DA == 1)
                                                        {
                                                            <p>Phần mềm</p>
                                                        }
                                                        else if (item.LOAI_DA == 2)
                                                        {
                                                            <p>Đường truyền</p>
                                                        }
                                                        else if (item.LOAI_DA == 3)
                                                        {
                                                            <p>Thiết bị</p>
                                                        }
                                                        else if (item.LOAI_DA == 4)
                                                        {
                                                            <p>Hỗn hợp</p>
                                                        }
                                                    </a>
                                                </td>
                                                <td>
                                                    <a href="@Url.Action("ShowQuyTrinhDA", new { @maDA = item.DUAN_ID })">
                                                        @if (item.LOAI_HOPDONG_ID == 1)
                                                        {
                                                            <p>Thuê</p>
                                                        }
                                                        else if (item.LOAI_DA == 2)
                                                        {
                                                            <p>Bán</p>
                                                        }
                                                        else if (item.LOAI_DA == 3)
                                                        {
                                                            <p>Hỗn hợp</p>
                                                        }
                                                    </a>
                                                </td>
                                                <td>
                                                    @Html.ActionLink(" ", "EditHDCNTT", new { @maDA = item.DUAN_ID }, new { @class = "glyphicon glyphicon-edit", @style = "font-size: 20px" })
                                                </td>
                                                <td>
                                                    @*@Html.Action("PartiaDeleteHDCNTT", new { @maDA = item.DUAN_ID })*@
                                                </td>

                                                @*<td>
                                                        @Html.ActionLink(" ", "QuyTrinhHDCNTT", "HDCNTT", new { @HDid = item.HOPDONG_DT_CNTT_ID }, new { @class = "fa fa-sitemap text-blue", @style = "font-size: 20px" })
                                                    </td>
                                                    <td>
                                                        @if (@item.ngay_kt <= @system.datetime.now)
                                                            {
                                                                <span id="canhbao">
                                                                    <img src="~/images/canhbao.gif" title="hợp đồng đã tới hạn. cần ký lại hộp đồng mới!" height="40px" width="30px" />
                                                                </span>
                                                            }
                                                    </td>*@
                                            </tr>
                                        }
                                    </table>
                                    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/ @Model.PageCount
                                    <div class="MenuTrang">
                                        @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page, @sTuKhoa = ViewBag.TuKhoa }))
                                    </div>
                                    <style>
                                        .MenuTrang li {
                                            display: inline;
                                        }
                                    </style>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

