@model QLHD.Models.QLDA_CNTT_TIENDO
<div class="modal fade" id="@ViewBag.edit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" style="width: 60%">
        <div class="modal-content">
            @using (Html.BeginForm("editTDDAPost", "HDCNTT", new { @idDA = Model.DUAN_ID, @idTD = Model.TIENDO_DA_ID }, FormMethod.Post, new { @enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel" style="float:left">Chỉnh sửa tiến độ dự án</h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="row">
                            <div class="col-md-6" style="display:none">
                                <div class="form-group">
                                    <div class="control-label col-md-4">
                                        <label style="float: right">Dự án ID:</label>
                                    </div>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" name="DUAN_ID" required="required" value="@ViewBag.IDDuAn" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="control-label col-md-4">
                                        <label style="float: right">Tên tiến độ:</label>
                                    </div>
                                    <div class="col-md-8">
                                        <input type="text" name="TEN_TIENDO_DA" class="form-control" value="@Model.TEN_TIENDO_DA" required="required" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="control-label col-md-4">
                                        <label style="float: right">Đơn vị chủ trì:</label>
                                    </div>
                                    <div class="col-md-8">
                                        @Html.DropDownList("DONVI_CHUTRI", (IEnumerable<SelectListItem>)ViewBag.DONVI, "--Chọn--", new { @class = "form-control", required = "required" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="control-label col-md-4">
                                        <label style="float: right">Đơn vị thực hiện:</label>
                                    </div>
                                    <div class="col-md-8">
                                        @Html.DropDownList("VTT", (IEnumerable<SelectListItem>)ViewBag.DVTH, "--Chọn--", new { @class = "form-control", required = "required" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="control-label col-md-4">
                                        <label style="float: right">Người thực hiện:</label>
                                    </div>
                                    <div class="col-md-8">
                                        @Html.DropDownList("NGUOI_THUCHIEN", (IEnumerable<SelectListItem>)ViewBag.NGUOITHUCHIEN, "--Chọn--", new { @class = "form-control select2", required = "required", @id = "selectDA" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="control-label col-md-4">
                                        <label style="float: right">Ngày thực hiện thực tế:</label>
                                    </div>
                                    <div class="col-md-8">
                                        @if (Model.NGAY_GIAO.HasValue)
                                        {
                                            <input type="datetime" id="NgayTH_@Model.TIENDO_DA_ID" class="form-control" name="NGAY_GIAO" value="@Model.NGAY_GIAO.Value.ToString("dd/MM/yyyy")" />
                                        }
                                        else
                                        {
                                            <input type="date" id="NgayTH_@Model.TIENDO_DA_ID" class="form-control" name="NGAY_GIAO" />
                                        }

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="control-label col-md-4">
                                        <label style="float: right">Ngày hết hạn:</label>
                                    </div>
                                    <div class="col-md-8">
                                        @if (Model.NGAY_HETHAN.HasValue)
                                        {
                                            <input type="datetime" class="form-control" id="NGAY_HETHAN" name="NGAY_HETHAN" value="@Model.NGAY_HETHAN.Value.ToString("dd/MM/yyyy")" required="required" />
                                        }
                                        else
                                        {
                                            <input type="date" class="form-control" name="NGAY_HETHAN" required="required" />
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="control-label col-md-4">
                                        <label style="float: right">Thứ tự:</label>
                                    </div>
                                    <div class="col-md-8">
                                        <input type="number" step="0.1" class="form-control" name="STT" value="@Model.STT" required="required" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="control-label col-md-4">
                                        <label style="float: right">Trạng thái:</label>
                                    </div>
                                    <div class="col-md-8">
                                        @Html.DropDownList("TRANGTHAI_THUCHIEN", (IEnumerable<SelectListItem>)ViewBag.TRANGTHAI_TD, "--Chọn--", new { @class = "form-control", required = "required", @id = "TrangThai_" + Model.TIENDO_DA_ID })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="control-label col-md-2">
                                        <label style="float: right">File đính kèm:</label>
                                    </div>
                                    <div class="col-md-10">
                                        @if (Model.FILE_ID != null)
                                        {
                                            <input type="file" class="form-control" id="upload_@Model.TIENDO_DA_ID" name="upload" value="@Model.TBL_FILE.file_name" />
                                            <a href="@Url.Action("ExportData_TienTrinh", "HDCNTT",new{@TTid = Model.TIENDO_DA_ID} )"
                                               style="color:blue" id="file">
                                                @Model.TBL_FILE.file_name
                                            </a>
                                        }
                                        else
                                        {
                                            <input type="file" class="form-control" id="upload_@Model.TIENDO_DA_ID" name="upload" />
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="control-label col-md-2">
                                        <label style="float: right">Ghi chú hiện trạng:</label>
                                    </div>
                                    <div class="col-md-10">
                                        <input type="text" class="form-control" id="GHICHU_HIENTRANG" name="GHICHU_HIENTRANG" value="@Model.GHICHU_HIENTRANG" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="control-label col-md-2">
                                        <label style="float: right">Ghi chú tồn động:</label>
                                    </div>
                                    <div class="col-md-10">
                                        <input type="text" class="form-control" id="GHICHU_TONDONG" name="GHICHU_TONDONG" value="@Model.GHICHU_TONDONG" />
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-primary" value="Lưu" />
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Trờ về" />
                </div>
            }
        </div>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        $('.select2').select2();
        $("#TrangThai_@Model.TIENDO_DA_ID").change(function () {
            var id = $('#TrangThai_@Model.TIENDO_DA_ID').val();
            if ((id == "3") && ('@Model.FILE_ID' == '')) {
                $('#upload_@Model.TIENDO_DA_ID').attr('required', true);
                $('#NgayTH_@Model.TIENDO_DA_ID').attr('required', true);
            }
            else {
                $('#upload_@Model.TIENDO_DA_ID').attr('required', false);
                $('#NgayTH_@Model.TIENDO_DA_ID').attr('required', false);
            }
        });
    })
</script>