@model QLHD.Models.HOPDONG_DT_CNTT

@{
    ViewBag.Title = "Chỉnh sửa hợp đồng CNTT";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    List<QLHD.Models.DT_CNTT_TIENDO_TT> listTDTT = ViewBag.listTDTT;

}
<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>Hợp đồng CNTT</h3>
            <span style="color:red">@ViewBag.baoloi</span>
        </div>
    </div>
    <div class="clear-fix">
        @using (Html.BeginForm("EditHDCNTTPost", "HDCNTT", new { @HDCNTT_ID = @Model.HOPDONG_DT_CNTT_ID }, FormMethod.Post, new { @enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <div class="row">
                <div class="col-md-12">
                    <div class="x_panel" style="">
                        <div class="x_title">
                            <h2>Chỉnh sửa HĐ CNTT</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="control-label col-md-4">
                                        <label style="float: right">Loại hợp đồng:</label>
                                    </div>
                                    <div class="col-md-5">
                                        @Html.DropDownList("LOAI_HOPDONG_ID", (IEnumerable<SelectListItem>)ViewBag.LOAIHD, "--Chọn--", new { @class = "form-control", required = "required" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="control-label col-md-4">
                                        <label style="float: right">Năm hợp đồng:</label>
                                    </div>
                                    <div class="col-md-5">
                                        @Html.DropDownList("NAM_HD_ID", (IEnumerable<SelectListItem>)ViewBag.NamHD, "--Chọn--", new { @class = "form-control", required = "required" })

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" style="margin-top: 15px">
                                <div class="form-group">
                                    <div class="control-label col-md-4">
                                        <label style="float: right">Số hợp đồng:</label>
                                    </div>
                                    <div class="col-md-5">
                                        <input type="text" class="form-control" name="SO_HD" required="required" value="@Model.SO_HD" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" style="margin-top: 15px">
                                <div class="form-group">
                                    <div class="control-label col-md-4">
                                        <label style="float: right">Tên hợp đồng:</label>
                                    </div>
                                    <div class="col-md-5">
                                        <input type="text" class="form-control" name="TEN_HOPDONG" required="required" value="@Model.TEN_HOPDONG" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" style="margin-top: 15px">
                                <div class="form-group">
                                    <div class="control-label col-md-4">
                                        <label style="float: right">Tên gói thầu:</label>
                                    </div>
                                    <div class="col-md-5">
                                        <input type="text" class="form-control" name="TEN_GOITHAU" required="required" value="@Model.TEN_GOITHAU" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" style="margin-top: 15px">
                                <div class="form-group">
                                    <div class="control-label col-md-4">
                                        <label style="float: right">Tên dự án:</label>
                                    </div>
                                    <div class="col-md-5">
                                        <input type="text" class="form-control" name="TEN_DUAN" required="required" value="@Model.TEN_DUAN" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" style="margin-top: 15px">
                                <div class="form-group">
                                    <div class="control-label col-md-4">
                                        <label style="float: right">Ngày lập hợp đồng:</label>
                                    </div>
                                    <div class="col-md-5">
                                        @if (Model.NGAY_HD.HasValue)
                                        {
                                            <input type="datetime" class="form-control" name="NGAY_HD" value="@Model.NGAY_HD.Value.ToString("dd/MM/yyyy")" />
                                        }
                                        else
                                        {
                                            <input type="date" class="form-control" name="NGAY_HD" required="required" />
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" style="margin-top: 15px">
                                <div class="form-group">
                                    <div class="control-label col-md-4">
                                        <label style="float: right">Đơn vị lập hợp đồng:</label>
                                    </div>
                                    <div class="col-md-5">
                                        @Html.DropDownList("DONVI_ID", (IEnumerable<SelectListItem>)ViewBag.DONVI, "--Chọn--", new { @class = "form-control", required = "required" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    @* Bên thuê *@
                    <div class="col-md-6">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>Bên thuê</h2>
                                <div class="col-md-8" style="float:right">
                                    @Html.DropDownList("BEN_THUE_ID", (IEnumerable<SelectListItem>)ViewBag.BENTHUEID, new { @class = "form-control", @id = "BEN_THUE" })
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <div class="control-label col-md-4">
                                            <label style="float: right">Tên bên thuê:</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control" name="TEN_BT" required="required" id="TEN_BT" value="@Model.DM_CHUTHE_HOPDONG1.TEN_CHUTHE" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="control-label col-md-4">
                                            <label style="float: right">Địa chỉ:</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control" name="DIACHI_BT" required="required" id="DIACHI_BT" value="@Model.DM_CHUTHE_HOPDONG1.DIACHI" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="control-label col-md-4">
                                            <label style="float: right">Số điện thoại/FAX:</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="number" class="form-control" name="DIENTHOAI_BT" id="DT_BT" required="required" value="@Model.DM_CHUTHE_HOPDONG1.DIENTHOAI" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="control-label col-md-4">
                                            <label style="float: right">Mã số thuế:</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control" name="MSTHUE_BT" id="MSTHUE_BT" required="required" value="@Model.DM_CHUTHE_HOPDONG1.MSTHUE" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="control-label col-md-4">
                                            <label style="float: right">Tài khoản:</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="text" id="TAIKHOAN_BT" class="form-control" name="TAIKHOAN_BT" required="required" value="@Model.DM_CHUTHE_HOPDONG1.STK_NGANHANG" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="control-label col-md-4">
                                            <label style="float: right">Ngân hàng:</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="text" id="NGANHANG_BT" class="form-control" name="NGANHANG_BT" required="required" value="@Model.DM_CHUTHE_HOPDONG1.TEN_NGANHANG" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="control-label col-md-4">
                                            <label style="float: right">Đại diện:</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="text" id="DAIDIEN_BT" class="form-control" name="DAIDIEN_BT" required="required" value="@Model.DM_CHUTHE_HOPDONG1.DAIDIEN" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="control-label col-md-4">
                                            <label style="float: right">Chức vụ:</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="text" id="CHUCVU_BT" class="form-control" name="CHUCVU_BT" required="required" value="@Model.DM_CHUTHE_HOPDONG1.CHUCVU" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    @* Bên cho thuê *@
                    <div class="col-md-6">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>Bên cho thuê</h2>
                                <div class="col-md-8" style="float:right">
                                    @Html.DropDownList("BEN_CHOTHUE_ID", (IEnumerable<SelectListItem>)ViewBag.BENTHUEID, new { @class = "form-control", @id = "BEN_CHOTHUE" })
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <div class="control-label col-md-4">
                                            <label style="float: right">Tên bên cho thuê:</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control" name="TEN_CT" required="required" id="TEN_CT" value="@Model.DM_CHUTHE_HOPDONG.TEN_CHUTHE" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="control-label col-md-4">
                                            <label style="float: right">Địa chỉ:</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control" name="DIACHI_CT" required="required" id="DIACHI_CT" value="@Model.DM_CHUTHE_HOPDONG.DIACHI" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="control-label col-md-4">
                                            <label style="float: right">Số điện thoại/FAX:</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="number" class="form-control" name="DIENTHOAI_CT" id="DT_CT" required="required" value="@Model.DM_CHUTHE_HOPDONG.DIENTHOAI" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="control-label col-md-4">
                                            <label style="float: right">Mã số thuế:</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control" name="MSTHUE_CT" id="MSTHUE_CT" required="required" value="@Model.DM_CHUTHE_HOPDONG.MSTHUE" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="control-label col-md-4">
                                            <label style="float: right">Tài khoản:</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="text" id="TAIKHOAN_CT" class="form-control" name="TAIKHOAN_CT" required="required" value="@Model.DM_CHUTHE_HOPDONG.STK_NGANHANG" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="control-label col-md-4">
                                            <label style="float: right">Ngân hàng:</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="text" id="NGANHANG_CT" class="form-control" name="NGANHANG_CT" required="required" value="@Model.DM_CHUTHE_HOPDONG.TEN_NGANHANG" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="control-label col-md-4">
                                            <label style="float: right">Đại diện:</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="text" id="DAIDIEN_CT" class="form-control" name="DAIDIEN_CT" required="required" value="@Model.DM_CHUTHE_HOPDONG.DAIDIEN" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="control-label col-md-4">
                                            <label style="float: right">Chức vụ:</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="text" id="CHUCVU_CT" class="form-control" name="CHUCVU_CT" required="required" value="@Model.DM_CHUTHE_HOPDONG.CHUCVU" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @* Giá trị hợp đồng *@
                <div class="col-md-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Giá trị hợp đồng</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="control-label col-md-4">
                                        <label style="float: right">Giá trị phần cứng:</label>
                                    </div>
                                    <div class="col-md-8">
                                        <input type="number" id="GIATRI_PHANCUNG_HD" class="form-control" name="GIATRI_PHANCUNG_HD" />
                                        <input class="form-control" type="text" id="giatri_phancung_hd" onchange="sum_tong3();" placeholder="VNĐ" value="@Model.GIATRI_PHANCUNG_HD" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group">
                                    <div class="control-label col-md-3">
                                        <label style="float: right">Chu kỳ TT:</label>
                                    </div>
                                    <div class="col-md-3">
                                        @Html.DropDownList("CHUKY_ID", (IEnumerable<SelectListItem>)ViewBag.CHUKYTT, "--Chọn chu kỳ TT--", new { @class = "form-control", required = "required", @id = "CHUKY_ID" })
                                    </div>
                                    <div class="control-label col-md-3">
                                        <label style="float: right">Thời gian TT:</label>
                                    </div>
                                    <div class="col-md-3">
                                        @Html.DropDownList("THOIHAN_TT_ID", (IEnumerable<SelectListItem>)ViewBag.THOIHAN_TT, "--Chọn--", new { @class = "form-control", required = "required", @id = "THOIHAN_TT_ID" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4" style="margin-top: 15px">
                                <div class="form-group">
                                    <div class="control-label col-md-4">
                                        <label style="float: right">Giá trị dịch vụ:</label>
                                    </div>
                                    <div class="col-md-8">
                                        <input type="number" id="GIATRI_DICHVU_HD" class="form-control" name="GIATRI_DICHVU_HD" />
                                        <input class="form-control" type="text" id="giatri_dichvu_hd" onchange="sum_tong3();" placeholder="VNĐ" value="@Model.GIATRI_DICHVU_HD" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8" style="margin-top: 15px">
                                <div class="form-group">
                                    <div class="control-label col-md-3">
                                        <label style="float: right">Ngày hiệu lực HĐ:</label>
                                    </div>
                                    <div class="col-md-3">
                                        @if (Model.NGAY_HIEULUC_HD.HasValue)
                                        {
                                            <input type="datetime" class="form-control" name="NGAY_HIEULUC_HD" value="@Model.NGAY_HIEULUC_HD.Value.ToString("dd/MM/yyyy")" />
                                        }
                                        else
                                        {
                                            <input type="date" class="form-control" name="NGAY_HIEULUC_HD" />
                                        }
                                    </div>
                                    <div class="control-label col-md-3">
                                        <label style="float: right">Thời gian thuê:</label>
                                    </div>
                                    <div class="col-md-3">
                                        <input type="number" id="THANG" name="THANG" class="form-control" value="@Model.THANG" />
                                    </div>

                                    @*<div class="control-label col-md-3">
                                        <label style="float: right">Ngày BBNT:</label>
                                    </div>
                                    <div class="col-md-3">
                                        @if (Model.NGAY_BBNT.HasValue)
                                        {
                                            <input type="datetime" class="form-control" name="NGAY_BBNT" value="@Model.NGAY_BBNT.Value.ToString("dd/MM/yyyy")" />
                                        }
                                        else
                                        {
                                            <input type="date" class="form-control" name="NGAY_BBNT" />
                                        }
                                    </div>*@
                                </div>
                            </div>
                            <div class="col-md-4" style="margin-top: 15px">
                                <div class="form-group">
                                    <div class="control-label col-md-4">
                                        <label style="float: right">Giá trị tạm ứng:</label>
                                    </div>
                                    <div class="col-md-8">
                                        <input type="number" id="GIATRI_TAMUNG" class="form-control" name="GIATRI_TAMUNG" />
                                        <input class="form-control" type="text" id="giatri_tamung" placeholder="VNĐ" value="@Model.GIATRI_TAMUNG" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8" style="margin-top: 15px">
                                <div class="form-group">
                                    <div class="control-label col-md-3">
                                        <label style="float: right">Ngày BBNT:</label>
                                    </div>
                                    <div class="col-md-3">
                                        @if (Model.NGAY_BBNT.HasValue)
                                        {
                                            <input type="datetime" class="form-control" name="NGAY_BBNT" value="@Model.NGAY_BBNT.Value.ToString("dd/MM/yyyy")" />
                                        }
                                        else
                                        {
                                            <input type="date" class="form-control" name="NGAY_BBNT" />
                                        }
                                    </div>

                                    <div class="control-label col-md-3">
                                        <label style="float: right">Giá trị BLTHHD:</label>
                                    </div>
                                    <div class="col-md-3">
                                        <input type="number" id="GIATRI_BLTHHD" class="form-control" name="GIATRI_BLTHHD" value="@Model.GIATRI_BLTHHD" />
                                    </div>

                                    @*<div class="control-label col-md-3">
                                        <label style="float: right">Thời gian BLTHHD:</label>
                                    </div>
                                    <div class="col-md-3">
                                        <input type="number" id="THOIGIAN_BLTHHD" onchange="sum_date()" class="form-control" name="THOIGIAN_BLTHHD" value="@Model.THOIGIAN_BLTHHD" />
                                    </div>*@
                                </div>
                            </div>
                            <div class="col-md-4" style="margin-top: 15px">
                                <div class="form-group">
                                    <div class="control-label col-md-4">
                                        <label style="float: right">Hình thức thanh toán:</label>
                                    </div>
                                    <div class="col-md-8">
                                        @Html.DropDownList("HTTT_ID", (IEnumerable<SelectListItem>)ViewBag.HINHTHUCTT, "--Chọn HTTT--", new { @class = "form-control", required = "required", @id = "HTTT_ID" })
                                        @*@Html.DropDownList("THUE_BT", (IEnumerable<SelectListItem>)ViewBag.BENTHUEID,"--Chọn bên thuê--", new { @class = "form-control", required = "required", @id = "THUE_BT" })*@
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8" style="margin-top: 15px">
                                <div class="form-group">
                                    <div class="control-label col-md-3">
                                        <label style="float: right">Thời gian BLTHHD:</label>
                                    </div>
                                    <div class="col-md-3">
                                        <input type="number" id="THOIGIAN_BLTHHD" onchange="sum_date()" class="form-control" name="THOIGIAN_BLTHHD" value="@Model.THOIGIAN_BLTHHD" />
                                    </div>

                                    <div class="control-label col-md-3">
                                        <label style="float: right">Ngày BLTHHĐ:</label>
                                    </div>
                                    <div class="col-md-3">
                                        @if (Model.NGAY_BLTHHD.HasValue)
                                        {
                                            <input type="datetime" id="NGAY_BLTHHD" class="form-control" onchange="sum_date()" name="NGAY_BLTHHD" value="@Model.NGAY_BLTHHD.Value.ToString("dd/MM/yyyy")" />
                                        }
                                        else
                                        {
                                            <input type="date" id="NGAY_BLTHHD" class="form-control" onchange="sum_date()" name="NGAY_BLTHHD" />
                                        }
                                    </div>

                                    @*<div class="control-label col-md-3">
                                        <label style="float: right">Ngày hết hạn BLTHHĐ:</label>
                                    </div>
                                    <div class="col-md-3">
                                        <input type="date" id="NGAY_HETHAN_BLTHHD" class="form-control" name="NGAY_HETHAN_BLTHHD" readonly />

                                    </div>*@
                                </div>
                            </div>
                            <div class="col-md-4" style="margin-top: 15px">
                                <div class="form-group">
                                    <div class="control-label col-md-4">
                                        <label style="float: right">Tổng giá trị hợp đồng:</label>
                                    </div>
                                    <div class="col-md-8">
                                        <input type="number" id="TONG_GT" class="form-control" name="TONG_GT" />
                                        <input class="form-control" type="text" id="tong_gt" placeholder="VNĐ" readonly />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8" style="margin-top: 15px">
                                <div class="form-group">
                                    <div class="control-label col-md-3">
                                        <label style="float: right">Ngày hết hạn BLTHHĐ:</label>
                                    </div>
                                    <div class="col-md-3">
                                        <input type="date" id="NGAY_HETHAN_BLTHHD" class="form-control" name="NGAY_HETHAN_BLTHHD" readonly />

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                @* Ghi chú *@
                <div class="col-md-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Ghi chú</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <textarea class="form-control" name="GHICHU" rows="4" placeholder="Ghi chú"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="control-label col-md-1">
                                    <label style="float: right">File hợp đồng:</label>
                                </div>
                                <div class="col-md-10">
                                    <input type="file" name="upload" class="form-control" id="upload" value="@Model.FILE" />
                                    <a href="@Url.Action("ExportData", "HDCNTT",new{@HDCNTT_ID = Model.HOPDONG_DT_CNTT_ID} )"
                                       style="color:blue">
                                        @Model.FILE
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="text-align: center;">
                    <input type="submit" class="btn btn-success btn-lg" value="Cập nhật" id="submit" />
                    <a href="@Url.Action("Index", "HDCNTT")" class="btn btn-default btn-lg">
                        Hủy
                    </a>
                </div>
            </div>
        }

        @* Thông tin thanh toán *@
        <div class="row">
            <div class="col-md-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Tiến độ thanh toán hợp đồng</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="" role="tabpanel" data-example-id="togglable-tabs">
                            <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                                <li role="presentation" class="active">
                                    <a href="#tab_content1" id="hopdong-tab" role="tab" data-toggle="tab" aria-expanded="true">DS tiến độ</a>
                                </li>
                            </ul>
                            <div id="myTabContent" class="tab-content">
                                <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="hopdong-tab">
                                    <table class=" col-md-12 table table-bordered table-striped table-hover">
                                        <tr class="noidung">
                                            <th class="col-md-1">
                                                Tiến độ thanh toán
                                            </th>
                                            <th class="col-md-1">
                                                Thời gian thanh toán
                                            </th>
                                            <th class="col-md-1">
                                                Ngày đến hạn
                                            </th>
                                            <th class="col-md-1">
                                                Số tiền thanh toán
                                            </th>
                                            <th class="col-md-2">
                                                Diễn giải
                                            </th>
                                            <th class="col-md-1">Trạng thái xuất hóa đơn</th>
                                            <th class="col-md-1">Số hóa đơn</th>
                                            <th class="col-md-1">Ngày hóa đơn</th>
                                            <th class="col-md-1">Trạng thái thanh toán</th>
                                            <th class="col-md-1">Sửa|Xóa</th>
                                        </tr>
                                        @foreach (var item in listTDTT)
                                        {
                                            <tr class="noidunghd">
                                                <td class="col-md-1">
                                                    @item.DOT_TT
                                                </td>
                                                <td class="col-md-1">
                                                    @item.THOIGIAN_TT
                                                </td>
                                                <td class="col-md-1">
                                                    @item.THOIHAN_TT.Value.ToString("dd/MM/yyyy")
                                                </td>
                                                <td class="col-md-1">
                                                    @item.GIATRI_TT
                                                </td>
                                                <td class="col-md-2">
                                                    Bên A thanh toán cho bên B tiền thuê @item.HOPDONG_DT_CNTT.CHUKY_TT.CHUKY.ToString()
                                                </td>
                                                @if (item.TRANGTHAI_XUAT_HOADON == 1)
                                                {
                                                    <td class="col-md-1">Đã xuất</td>
                                                }
                                                else
                                                {
                                                    <td class="col-md-1">Chưa xuất</td>
                                                }
                                                <td class="col-md-1">
                                                    @item.SO_HOADON
                                                </td>
                                                <td class="col-md-1">
                                                    @if (item.NGAY_HOADON.HasValue)
                                                    {
                                                        @item.NGAY_HOADON.Value.ToString("dd/MM/yyyy")
                                                    }
                                                    else
                                                    {
                                                        @item.NGAY_HOADON
                                                    }
                                                </td>
                                                @if (item.TRANGTHAI_TT == 1)
                                                {
                                                    <td class="col-md-1" style="color:forestgreen"> Đã thanh toán</td>
                                                }
                                                else
                                                {
                                                    <td class="col-md-1"> Chưa thanh toán</td>
                                                }
                                                <td>
                                                    @Html.Action("EditTienDoTT", "HDCNTT", new { @HDCNTT_ID = @item.HOPDONG_DT_CNTT_ID, @TIENDO_ID = @item.TIENDO_TT_ID })
                                                    |
                                                    @Html.Action("DeleteTienDoTT", "HDCNTT", new { @HDCNTT_ID = @item.HOPDONG_DT_CNTT_ID, @TIENDO_ID = @item.TIENDO_TT_ID })
                                                </td>
                                            </tr>
                                        }

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/Scripts/numeric/jquery.js")
@Scripts.Render("~/Scripts/numeric/jquery.number.js")
<script type="text/javascript">
    $(function () {
        var giatri_phancung_hd = $('#giatri_phancung_hd').val();
        var giatri_dichvu_hd = $('#giatri_dichvu_hd').val();
        var giatri_tamung = $('#giatri_tamung').val();

        $('#tong_gt').val(parseInt(giatri_phancung_hd) + parseInt(giatri_dichvu_hd));

        // Set up the number formatting.
        $('#THANG_GT').hide();
        $('#GIATRI_TAMUNG').hide();
        $('#GIATRI_PHANCUNG_HD').hide();
        $('#GIATRI_DICHVU_HD').hide();
        $('#TONG_GT').hide();

        $('#thang_gt').number(true, 0);
        $('#tong_gt').number(true, 0);
        sum_date();
        $('#submit').on('click', function () {
            giatri_phancung_hd = $('#giatri_phancung_hd').val();
            giatri_dichvu_hd = $('#giatri_dichvu_hd').val();
            giatri_tamung = $('#giatri_tamung').val();
            $("input[name='GIATRI_PHANCUNG_HD']").val(giatri_phancung_hd);
            $("input[name='GIATRI_DICHVU_HD']").val(giatri_dichvu_hd);
            $("input[name='GIATRI_TAMUNG']").val(giatri_tamung);
        });
    });

    function sum_tong3() {
        var tong1 = 0;
        var giatri_phancung_hd = $('#giatri_phancung_hd').val();
        var giatri_dichvu_hd = $('#giatri_dichvu_hd').val();

        tong1 = parseFloat(giatri_phancung_hd) + parseFloat(giatri_dichvu_hd);
        $('#tong_gt').val(tong1);
    }


    function sum_date() {
        var date = $('#NGAY_BLTHHD').val();
        const myArray = date.split("/");
        var date1 = new Date();;
        date1.setDate(parseInt(myArray[0]));
        date1.setMonth(parseInt(myArray[1]));
        date1.setFullYear(parseInt(myArray[2]));
        var days = parseInt($('#THOIGIAN_BLTHHD').val());
        date1.setDate(date1.getDate() + days);
        document.getElementById('NGAY_HETHAN_BLTHHD').value = date1.getFullYear() + '-' + ('0' + (date1.getMonth() + 1)).slice(-2) + '-' + ('0' + date1.getDate()).slice(-2);
    }

</script>
<script type="text/javascript">
    $(document).ready(function () {
        @*$("#vat1").val(@Model.VAT);*@
        $('#BEN_CHOTHUE').change(function () {
            var id = $('#BEN_CHOTHUE').val();
            $.ajax({
                type: 'GET',
                url: '@Url.Action("getBT","HDCNTT")',
                data: { id: id },
                success: function (data) {
                    $('#TEN_CT').val(data.ten);
                    $('#DIACHI_CT').val(data.diachi);
                    $('#DT_CT').val(data.dienthoai);
                    $('#MSTHUE_CT').val(data.msthue);
                    $('#TAIKHOAN_CT').val(data.taikhoan);
                    $('#NGANHANG_CT').val(data.nganhang);
                    $('#DAIDIEN_CT').val(data.daidien);
                    $('#CHUCVU_CT').val(data.chucvu);
                }
            });
        });
        $('#BEN_THUE').change(function () {
            var id = $('#BEN_THUE').val();
            $.ajax({
                type: 'GET',
                url: '@Url.Action("getBT","HDCNTT")',
                data: { id: id },
                success: function (data) {
                    $('#TEN_BT').val(data.ten);
                    $('#DIACHI_BT').val(data.diachi);
                    $('#DT_BT').val(data.dienthoai);
                    $('#MSTHUE_BT').val(data.msthue);
                    $('#TAIKHOAN_BT').val(data.taikhoan);
                    $('#NGANHANG_BT').val(data.nganhang);
                    $('#DAIDIEN_BT').val(data.daidien);
                    $('#CHUCVU_BT').val(data.chucvu);
                }
            });
        });

        $('#SO_CHUKY').change(function () {
            var thang = $('#thang_gt').val();
            var sochuky = $('#SO_CHUKY').val();
            var tong = thang * sochuky;
            $('#tong_gt').val(tong);
        });

    });
</script>