@model List<QLHD.Models.QLDA_CNTT_TIENDO>
    @{
        ViewBag.Title = "QuyTrinhHDCNTT";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    @section partial_script {
        <link href="~/Content/css/HDCNTT/quytrinhhopdong.css" rel="stylesheet" />
    }
    <style>
        .img_done {
            left: 50%;
            top: 50px;
            transform: translate(-50%, -50%);
            width: 40%;
        }
    </style>
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Quy trình hợp đồng</h3>
            </div>
        </div>
        <div class="clear-fix"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="nav navbar-right">
                    <a href="@Url.Action("DSDuAn", "HDCNTT")" class="btn btn-default btn-lg">
                        Trờ về
                    </a>
                </div>
                <div class="nav navbar-right">
                    <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#addTDDA"><i class="fa fa-plus"></i>Thêm mới</button>
                </div>

            </div>
        </div>
        <div class="clearfix"></div>

        <div class="container">
            <div class="timeline">
                @foreach (var item in Model)
                {
                    <div class="col-md-12" style="margin-top: 20px">
                        <div class="col-md-12 row show-image @(item.VTT == true ?  "timeline-nodes " : "timeline-nodes revert")">
                            @if (item.VTT == true)
                            {
                                <div class="col-md-5" style="position: relative;">
                                    <div class="col-md-9 timeline-content" style="text-align: left; float:right; max-width: 350px; margin-right: -12%">
                                        <i data-toggle="modal" data-target="#@item.TIENDO_DA_ID" class="fa fa-edit fa-lg" style="@(item.VTT == true ? "right: 0" : "left:0")"></i>
                                        <i data-toggle="modal" data-target="#@item.TIENDO_DA_ID.ToString()delete" class="fa fa-remove fa-lg" style="color:red; @(item.VTT == true ? "right: 25px" : "left:25px")"></i>
                                        <h4 class="text-light" onclick="javascript:window.open('/HDCNTT/IndexTimKiem?idda='+ @item.DUAN_ID);">
                                            @item.STT @item.TEN_TIENDO_DA

                                        </h4>
                                        <p>@item.THANHVIEN.TEN_THANHVIEN</p>
                                        @if (item.TRANGTHAI_THUCHIEN == 1)
                                        {
                                            <p style="color: green">Tiến độ: Hoàn thành</p> }
                                        else if (item.TRANGTHAI_THUCHIEN == 2)
                                        {
                                            <p style="color:orange">Tiến độ: Đang thực hiện</p> }
                                        else if (item.TRANGTHAI_THUCHIEN == 3)
                                        {
                                            <p style="color: red">Tiến độ: Trễ hạn</p>
                                        }

                                        @if (item.FILE_ID != null)
                                        {
                                            @Html.ActionLink(" " + item.TBL_FILE.file_name, "ExportData_TienTrinh", "HDCNTT", new { @TTid = item.TIENDO_DA_ID }, new { @class = "glyphicon glyphicon-download-alt", @style = "font-size: 13px; margin-bottom: 10px; text-decoration: underline; color: #0c67d9" })
                                        }
                                        <p>Ghi chú hiện trạng: <a style="color:blue"> @item.GHICHU_HIENTRANG</a></p>
                                        <p>Ghi chú tồn động:<a style="color:darkred">@item.GHICHU_TONDONG</a></p>
                                        @Html.Action("editTDDA", "HDCNTT", new { @idDA = ViewBag.idDA, @idTD = item.TIENDO_DA_ID })
                                        @Html.Action("deleteTDDA", "HDCNTT", new { @idDA = ViewBag.idDA, @idTD = item.TIENDO_DA_ID })
                                    </div>
                                </div>
                                <div class="col-md-2 timeline-image text-md-center">
                                    <div class="col-md-12">
                                        @*1 - hoàn thành, 2 - đang thực hiện, 3 - trễ tiến độ*@
                                        @*Ngày giao là Ngày thực hiện thực tế*@
                                        @if (item.TRANGTHAI_THUCHIEN == 1)
                                        {
                                            <img src='~/Images/checked.png' id='warning_icon' class="img_done" />
                                        }
                                        else if (item.TRANGTHAI_THUCHIEN == 2 && ((item.NGAY_GIAO > item.NGAY_HETHAN) || (item.NGAY_GIAO == null && @DateTime.Today > item.NGAY_HETHAN)))
                                        {
                                            <img src='~/Images/delay.png' id='warning_icon' class="img_done" />
                                        }
                                    </div>
                                </div>
                                <div class="col-md-4 timeline-date">
                                    <div class="time" style="margin-left: -15%;">
                                        @if (item.NGAY_GIAO.HasValue)
                                        {
                                            <p>Ngày thực hiện thực tế: @item.NGAY_GIAO.Value.ToString("dd/MM/yyyy")</p>
                                        }
                                    </div>
                                    <div class="time" style="margin-left: -15%;">
                                        @if (item.NGAY_HETHAN.HasValue)
                                        {
                                            <p>Ngày hết hạn: @item.NGAY_HETHAN.Value.ToString("dd/MM/yyyy")</p>
                                        }

                                    </div>
                                </div> }
                            else
                            {
                                <div class="col-md-5 timeline-date-revert">
                                    <div class="time" style="margin-right: -12%;">
                                        @if (item.NGAY_GIAO.HasValue)
                                        {
                                            <p>Ngày thực hiện thực tế:: @item.NGAY_GIAO.Value.ToString("dd/MM/yyyy")</p>
                                        }
                                    </div>
                                    <div class="time" style="margin-right: -12%;">
                                        @if (item.NGAY_HETHAN.HasValue)
                                        {
                                            <p>Ngày hết hạn: @item.NGAY_HETHAN.Value.ToString("dd/MM/yyyy")</p>
                                        }
                                    </div>
                                </div>
                                <div class="col-md-2 timeline-image text-md-center">
                                    @*1 - hoàn thành, 2 - đang thực hiện, 3 - trễ tiến độ*@
                                    @*Ngày giao là Ngày thực hiện thực tế*@
                                    @if (item.TRANGTHAI_THUCHIEN == 1)
                                    {
                                        <img src='~/Images/checked.png' id='warning_icon' class="img_done" />
                                    }
                                    else if (item.TRANGTHAI_THUCHIEN == 2 && ((item.NGAY_GIAO > item.NGAY_HETHAN) || (item.NGAY_GIAO == null && @DateTime.Today > item.NGAY_HETHAN)))
                                    {
                                        <img src='~/Images/delay.png' id='warning_icon' class="img_done" />
                                    }
                                </div>
                                <div class="col-md-4" style="position: relative;">
                                    <div class="col-md-11 timeline-content" style="text-align: left; float:left; max-width: 350px; margin-left: -13%">
                                        <i data-toggle="modal" data-target="#@item.TIENDO_DA_ID" class="fa fa-edit fa-lg" style="@(item.VTT == true ?  "right: 0" : "left:0")"></i>
                                        <i data-toggle="modal" data-target="#@item.TIENDO_DA_ID.ToString()delete" class="fa fa-remove fa-lg" style="color:red; @(item.VTT == true ? "right: 25px" : "left:25px")"></i>
                                        <h4 class="text-light">@item.STT @item.TEN_TIENDO_DA</h4>
                                        <p>Người thực hiện: @item.THANHVIEN.TEN_THANHVIEN</p>
                                        @if (item.TRANGTHAI_THUCHIEN == 1)
                                        {
                                            <p style="color: green">Tiến độ: Hoàn thành</p> }
                                        else if (item.TRANGTHAI_THUCHIEN == 2)
                                        {
                                            <p style="color:orange">Tiến độ: Đang thực hiện</p> }
                                        else if (item.TRANGTHAI_THUCHIEN == 3)
                                        {
                                            <p style="color: red">Tiến độ: Trễ NGAY_HETHAN</p> }
                                        else
                                        {
                                            <p style="color: green; font-weight:bold">Tiến độ: Trễ tiến độ</p>}
                                        @if (item.FILE_ID != null)
                                        {
                                            @Html.ActionLink(" " + item.TBL_FILE.file_name, "ExportData_TienTrinh", "HDCNTT", new { @TTid = item.TIENDO_DA_ID }, new { @class = "glyphicon glyphicon-download-alt", @style = "font-size: 13px; margin-bottom: 10px; text-decoration: underline; color: #0c67d9" })
                                        }
                                        <p>Ghi chú hiện trạng: <a style="color:blue"> @item.GHICHU_HIENTRANG</a></p>
                                        <p>Ghi chú tồn động:<a style="color:darkred">@item.GHICHU_TONDONG</a></p>
                                        @Html.Action("editTDDA", "HDCNTT", new { @idDA = ViewBag.idDA, @idTD = item.TIENDO_DA_ID })
                                        @Html.Action("deleteTDDA", "HDCNTT", new { @idDA = ViewBag.idDA, @idTD = item.TIENDO_DA_ID })
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    @Html.Action("addTDDA", "HDCNTT", new { @idDA = ViewBag.idDA })
    @*@Html.Action("editTDDA", "HDCNTT", new { @idDA = ViewBag.idDA })*@
