@model IEnumerable<QLHD.Models.DT_CNTT_TIENDO_TT>
    @{
        ViewBag.Title = "ThanhToanHDCNTT";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Thanh toán HĐ @*(số HĐ: @ViewBag.hopdong.SO_HD)*@</h3>
                <span style="color: red">@ViewBag.baoloi</span>
            </div>
        </div>
        <div class="clearfix"></div>
        @using (Html.BeginForm("ThanhToanHDDT", "HDDoanhThu", FormMethod.Post, new { @enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <div class="row">
                <div class="col-md-12">
                    <div class="x_panel" style="">
                        <div class="x_title">
                            <h2>Tạo mới thanh toán</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="col-md-6" style="display:none">
                                <div class="form-group">
                                    <div class="control-label col-md-4">
                                        <label style="float: right">Hợp đồng ID:</label>
                                    </div>
                                    <div class="col-md-5">
                                        <input type="text" class="form-control" name="HOPDONG_DT_CNTT_ID" required="required" value="@ViewBag.hdid" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="control-label col-md-4">
                                        <label style="float: right">Số HĐ:</label>
                                    </div>
                                    <div class="col-md-5">
                                        <input type="text" class="form-control" required="required" value="@ViewBag.hopdong.SO_HD" readonly />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="control-label col-md-4">
                                        <label style="float: right">Đợt thanh toán:</label>
                                    </div>
                                    <div class="col-md-5">
                                        @if (ViewBag.hopdong.DT_CNTT_TIENDO_TT.Count > 0)
                                        {
                                            <input type="text" class="form-control" required="required" value="@(ViewBag.hopdong.DT_CNTT_TIENDO_TT.DOT_TT + 1)" readonly />
                                        }
                                        else
                                        {
                                            <input type="text" class="form-control" required="required" value="1" readonly />
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" style="margin-top: 15px">
                                <div class="form-group">
                                    <div class="control-label col-md-4">
                                        <label style="float: right">Thời gian thanh toán:</label>
                                    </div>
                                    <div class="col-md-5">
                                        <input type="number" name="THOIGIAN_TT" class="auto form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" style="margin-top: 15px">
                                <div class="form-group">
                                    <div class="control-label col-md-4">
                                        <label style="float: right">Thời hạn thanh toán:</label>
                                    </div>
                                    <div class="col-md-5">
                                        <input type="date" class="form-control" name="NGAY_HIEULUC_HD" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" style="margin-top: 15px">
                                <div class="form-group">
                                    <div class="control-label col-md-4">
                                        <label style="float: right">Số hóa đơn:</label>
                                    </div>
                                    <div class="col-md-5">
                                        <input type="number" name="SO_HOADON" class="auto form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" style="margin-top: 15px">
                                <div class="form-group">
                                    <div class="control-label col-md-4">
                                        <label style="float: right">Ngày hóa đơn:</label>
                                    </div>
                                    <div class="col-md-5">
                                        <input type="date" class="form-control" name="NGAY_HOADON" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" style="margin-top: 15px">
                                <div class="form-group">
                                    <div class="control-label col-md-4">
                                        <label style="float: right">Số tiền thanh toán:</label>
                                    </div>
                                    <div class="col-md-5">
                                        <input type="number" name="GIATRI_TT" class="auto form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="text-align: center;">
                    <input type="submit" class="btn btn-success btn-lg" value="Tạo mới" />
                    @*<input type="button" class="btn btn-default btn-lg" value="Hủy" />*@
                    <a href="@Url.Action("DSThanhToan_HDDT", "HDDoanhThu")" class="btn btn-default btn-lg">
                        Hủy
                    </a>
                </div>
            </div>
        }
    </div>
