@using PagedList;
@using PagedList.Mvc;
@model IPagedList<QLHD.Models.HOPDONG_DOANHTHU>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>Quản lý hợp đồng doanh thu</h3>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="nav navbar-left">
                @using (Html.BeginForm("KetQuaTimKiem", "HDDoanhThu", FormMethod.Post))
                {
                    @Html.Action("partialSearch","HDChiPhi")
                }
            </div>
            <div class="nav navbar-right">
                <a href="@Url.Action("Create", "HDDoanhThu")" class="btn btn-info btn-lg" style="float:right">Thêm HĐ mới
                    <span class="glyphicon glyphicon-plus" />
                </a>
            </div>
            <div class="x_panel">
                <div class="x_title">
                    <h2>Danh sách HĐ doanh thu</h2>
                    <div class="clearfix"></div>
                </div>
                
                <div class="x_content">               
                    <div class="" role="tabpanel" data-example-id="togglable-tabs">
                        <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#tab_content1" id="hopdong-tab" role="tab" data-toggle="tab" aria-expanded="true">DS Hợp Đồng</a>
                            </li>
                            <li role="presentation" class=""><a href="#tab_content2" role="tab" id="thanhly-tab" data-toggle="tab" aria-expanded="false">Hợp đồng đã thanh lý</a>
                            </li>
                        </ul>
                        <div id="myTabContent" class="tab-content">
                            <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="hopdong-tab">
                                <table class="table table-bordered table-striped table-hover">
                        <tr class="noidung">
                            <th>STT</th>
                            <th>Số HĐ
                            </th>
                            <th>Loại HĐ
                            </th>
                            <th>Ngày lập HĐ
                            </th>
                            <th>Đại diện bên thuê
                            </th>
                            <th>Đại diện bên cho thuê
                            </th>
                            <th>Tổng giá trị HĐ
                            </th>
                            <th>Chu kỳ thanh toán</th>
                            <th>Hình thức thanh toán
                            </th>
                            <th>Sửa</th>
                            <th>Xóa</th>
                            <th>File HĐ</th>
                            <th>Cảnh báo</th>
                        </tr>
                        @{int row = (@Model.PageNumber * 10) - 10;}
                        @foreach (var item in Model)
                        {
                            <tr class="noidunghd">
                                <td>@(row+=1)</td>
                                <td>
                                    <a href="@Url.Action("ShowHDDoanhThu", new { @maHD = item.HOPDONG_DOANHTHU_ID })">
                                        @item.SO_HD
                                    </a>
                                </td>
                                <td>
                                    <a href="@Url.Action("ShowHDDoanhThu", new { @maHD = item.HOPDONG_DOANHTHU_ID })">@item.LOAI_HD_SUB.TEN_HD_SUB </a>
                                </td>

                                <td>
                                   <a href="@Url.Action("ShowHDDoanhThu", new { @maHD = item.HOPDONG_DOANHTHU_ID })"> 
                                       @if (item.NGAY_HD.HasValue){
                                            @item.NGAY_HD.Value.ToString("dd/MM/yyyy")
                                        }</a>
                                </td>
                                <td>
                                   <a href="@Url.Action("ShowHDDoanhThu", new { @maHD = item.HOPDONG_DOANHTHU_ID })">  @item.DAIDIEN_BT</a>
                                </td>

                                <td><a href="@Url.Action("ShowHDDoanhThu", new { @maHD = item.HOPDONG_DOANHTHU_ID })"> @item.TEN_CT</a></td>
                                <td><a href="@Url.Action("ShowHDDoanhThu", new { @maHD = item.HOPDONG_DOANHTHU_ID })"> <span class="no">@item.TONG_GT</span></a></td>
                                <td><a href="@Url.Action("ShowHDDoanhThu", new { @maHD = item.HOPDONG_DOANHTHU_ID })"> @item.CHUKY_TT.CHUKY</a></td>
                                <td><a href="@Url.Action("ShowHDDoanhThu", new { @maHD = item.HOPDONG_DOANHTHU_ID })"> @item.HTTT.TEN_HTTT</a></td>
                                <td>
                                    @*<a href="@Url.Action("EditHDChiPhi", new { @HDCHIPHI_ID = item.HOPDONG_CHIPHI_ID })"><span class="glyphicon glyphicon-edit"></span></a>*@
                                    @Html.ActionLink(" ", "EditHDDoanhThu", new { @HDDOANHTHU_ID = item.HOPDONG_DOANHTHU_ID }, new { @class = "glyphicon glyphicon-edit", @style = "font-size: 20px" })     
                                </td>
                                <td>
                                    @Html.ActionLink(" ", "DeleteHDDoanhThu", new { @HDDOANHTHU_ID = item.HOPDONG_DOANHTHU_ID }, new { @class = "glyphicon glyphicon-trash", @style = "font-size: 20px", title = "Xóa" })
                                </td>
                                <td>
                                    @if(item.FILE != null){
                                        @Html.ActionLink(" ", "ExportData", "HDDoanhThu", new { @HDid = item.HOPDONG_DOANHTHU_ID }, new { @class = "glyphicon glyphicon-download-alt", @style = "font-size: 20px" })
                                    }
                                </td>
                                <td>
                                    @if (@item.NGAY_KT <= @System.DateTime.Now)
                                    {
                                        <span id="canhbao">
                                            <img src="~/Images/canhbao.gif" title="Hợp đồng đã tới hạn. Cần ký lại hộp đồng mới!" height="40px" width="30px"/>
                                        </span>
                                    }
                                </td>
                            </tr>
                        }
                    </table>
                                Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/ @Model.PageCount
            <div class="MenuTrang">
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page, @sTuKhoa = ViewBag.TuKhoa }))
            </div>
            <style>
                .MenuTrang li {
                    display: inline;
                }
            </style>
                             </div>
                             <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="thanhly-tab">
                                 <table class="table table-bordered table-striped table-hover">
                        <tr class="noidung">
                            <th>STT</th>
                            <th>Số HĐ
                            </th>
                            <th>Loại HĐ
                            </th>
                            <th>Ngày lập HĐ
                            </th>
                            <th>Đại diện bên thuê
                            </th>
                            <th>Đại diện bên cho thuê
                            </th>
                            <th>Tổng giá trị HĐ
                            </th>
                            <th>Chu kỳ thanh toán</th>
                            <th>Hình thức thanh toán
                            </th>
                            <th>Sửa</th>
                            <th>Xóa</th>
                            <th>File HĐ</th>
                            <th>Cảnh báo</th>
                        </tr>
                                      @Html.Action("DSHDDoanhThu_ThanhLy", "HDDoanhThu")
                                     </table>
                                 </div>
                            
                        </div>
                     </div>
                </div>
            </div>
           
        </div>
    </div>
</div>
@Scripts.Render("~/Scripts/numeric/jquery.js")
@Scripts.Render("~/Scripts/numeric/jquery.number.js")
<script type="text/javascript">
    $(document).ready(function () {
        $('.no').number(true, 0);
    });
</script>
@Scripts.Render("~/Scripts/js/notify/pnotify.core.js")
@Scripts.Render("~/Scripts/js/notify/pnotify.buttons.js")
@Scripts.Render("~/Scripts/js/notify/pnotify.nonblock.js")
<script type="text/javascript">
    $.ajax({
        type: 'GET',
        url: '@Url.Action("getHD_HetHan", "HDDoanhThu")',
        success: function (data) {
            if (data.hd != 0) {
                new PNotify({
                    title: "Cảnh báo",
                    //type: "error",
                    text: "Hiện tại có " + data.hd + " hợp đồng sắp hết hạn! <button type='button' data-toggle='modal' data-target='#dshd' class='btn btn-default btn-sm noidung'>Xem danh sách</button>",
                    hide: false
                });
            }
            //alert(data.hd);
            //alert(data.hd_hethan);

            if (data.hd_hethan != 0) {
                new PNotify({
                    title: "Hợp đồng hết hạn",
                    //type: "error",
                    text: "Hiện tại có " + data.hd_hethan + " hợp đồng hết hạn! <button type='button' data-toggle='modal' data-target='#dshd2' class='btn btn-default btn-sm noidung'>Xem danh sách</button>",
                    type: "error",
                    hide: false
                });
            }
        }
    });
</script>
@Html.Action("HDHetHan", "HDDoanhThu")
@Html.Action("HDHetHan2", "HDDoanhThu")