@using QLHD.Models;
@model List<QLHD.Models.HTTT>
@{int row = 0;}
@{
    foreach (var item in Model)
    {
    <tr>

        <td>@(row += 1)</td>
        <td>@item.TEN_HTTT</td>
        <td>@item.GHICHU</td>
        <td>
            <button type="button" data-toggle="modal" data-target="#@item.HTTT_ID" title="Sửa" class="btn btn-warning btn-sm">
                <i class="fa fa-pencil" style="font-size: 15px"></i>
            </button>
            <div class="modal fade" id="@item.HTTT_ID" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        @using (Html.BeginForm("editHTTT", "HeThong", new { htttID = @item.HTTT_ID }, FormMethod.Post, null))
                        {
                            @Html.AntiForgeryToken()
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title">Chỉnh sửa HTTT</h4>
                            </div>     
                            <div class="modal-body">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <div class="control-label col-md-4">
                                            <b>Tên HTTT:</b>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control" name="TEN_HTTT" value="@item.TEN_HTTT" required="required">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="control-label col-md-4">
                                            <b>Ghi chú:</b>
                                        </div>
                                        <div class="col-md-8">
                                            <textarea class="form-control" name="GHICHU" rows="4" placeholder="Ghi chú">@item.GHICHU</textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>             
                            <div class="modal-footer">
                                <input type="submit" class="btn btn-primary" value="Lưu" />
                                <input type="button" class="btn btn-default" data-dismiss="modal" value="Hủy" />
                            </div>
                        }
                    </div>
                </div>
            </div>
        </td>
        <td>
            @*<a href="#" data-toggle="" data-target=""><i class="fa fa-trash-o" title="Xóa" style="font-size: 20px"></i></a>*@
            @Html.Action("xoaHTTT", "HeThong", new {@htttID = @item.HTTT_ID })
        </td>
    </tr>
    }
}