<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>

    <!-- CSS -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,vietnamese' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    <link href="@Url.Content("~/Content/login/bootstrap.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/login/font-awesome.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/login/form-elements.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/login/style.css")" rel="stylesheet" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    <!-- Favicon and touch icons -->
    <link rel="shortcut icon" href="~/Images/logo-vnpt.ico">
</head>

<body>

    <!-- Top content -->
    @RenderBody()


    <!-- Javascript -->
    
    <script src="~/Content/login/jquery-1.11.1.min.js"></script>
    <script src="~/Content/login/bootstrap.min.js"></script>
    <script src="~/Content/login/jquery.backstretch.min.js"></script>
    <script src="~/Content/login/scripts.js"></script>
    <!--[if lt IE 10]>
            <script src="assets/js/placeholder.js"></script>
        <![endif]-->

</body>

</html>
